@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-7 col-lg-7">
            <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, blanditiis?</h2>
            <p class="lead">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur officiis quaerat quisquam cumque, illum mollitia voluptates delectus recusandae voluptatibus quae! Eligendi quae culpa consequatur quaerat! Vitae veniam beatae exercitationem tempore.
            </p>
            <p class="lead">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti ipsam neque ut numquam velit eius eveniet corrupti laudantium vel rem.
            </p>
        </div>
        <div class="col-sm-12 col-md-5 col-lg-5">
            <img src="~/img/img1.jpg" class="img-fluid w-75 h-75" alt="Presentation" />
        </div>
    </div>
</div>